<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>

  <div id="fig" style="width:500px;height:500px">&nbsp;</div>

  <script type="text/javascript+protovis">

   var mapDiv = document.getElementById("fig");
    var data;
    
    new Ajax.Request(config.REST+'project/<%= params[:id] %>.json', {
    	method:'get',
  	requestHeaders: {Accept: 'application/json'},
  	onSuccess: function(transport){
    	    data = transport.responseText.evalJSON();
	    var visTxt = data.props.collect(function(d) {if (d.type == 'VectorBase miscellaneous CV:vis') {return d.value;}});  
	    /* console.log(visTxt);*/
	    vis = String.interpret(visTxt).evalJSON();
	    
    	    var hashJSP = getDataHash_jsp(data,vis.e,vis.x,vis.y,vis.z);
	    callPlot(vis.type, hashJSP, mapDiv);
	}
	});

	


    </script>




