<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>

<div id="center">
  <div id="fig">


  <script type="text/javascript+protovis">
    

    var xselect = 'cvalue != undefined';
    var xval = 'cvalue.name';
    var yselect = 'value >= 0';
    var yval = 'value';

      var data = '<%= @associations.to_s%>'.evalJSON();

      /* Sizing and scales. */

      xvals = data.experiments.collect(function(d) {return nodeFromArray(d.phenotypes, xselect).cvalue.name});
      yvals = data.experiments.collect(function(d) {return nodeFromArray(d.phenotypes, yselect).value});
      
      
      alert(xvals);
      alert(yvals);
      var w = 500,
          h = 500,
	  x = pv.Scale.ordinal(xvals.uniq()).split(0, w)
    	  y = pv.Scale.linear(0, yvals.max()).range(0, h).nice(),
	  s = x.range().band / 2;
	  c = pv.Colors.category10();

/* make data structure */
//      dataMap = data.experiments.map(function(d) {return {x: nodeFromArray(d.phenotypes, xselect).cvalue.name, y: nodeFromArray(d.phenotypes, yselect).value}}).sortBy(function(d) {return Number(d.y)});

      dataMap = data.experiments.map(function(d) {
      	      var xval = nodeFromArray(d.phenotypes, xselect).cvalue.name;
      	      var yval = nodeFromArray(d.phenotypes, yselect).value;
	      return {x: xval, y: yval, xpos: x(xval), ypos: y(yval)}}).sortBy(function(d) {return Number(d.y)});


//      xcats = dataMap.map(function(d) {return d.x}).uniq();




 /* The root panel. */
    var vis = new pv.Panel()
         .width(w)
    	 .height(h)
  	 .bottom(20)
    	 .left(20)
    	 .right(10)
    	 .top(5);

 /* Y-axis and ticks. */
    vis.add(pv.Rule)
	.data(y.ticks())
   	.bottom(y)
    	.strokeStyle(function(d) d ? "#eee" : "#000")
  	.anchor("left").add(pv.Label)
//    	.visible(function(d) d % 0.1 == 0 || d % 10 == 0)
    	.text(y.tickFormat)
	;

/* X-axis and ticks. */
    vis.add(pv.Rule)
	.data(xvals.uniq())
	.left(x)
	.anchor("bottom")
	.add(pv.Label)  	
	;


/* The dot plot! */
     panel = vis.add(pv.Panel)
	 .data(jitter(dataMap, 10))
//	 .data(dataMap)
       ;

     dots = panel.add(pv.Dot)
	    .bottom(function(d) d.ypos)
	    .left(function(d) d.xpos)
	    .strokeStyle(function(d) c(d.x))
	;
//	alert(dots.scale());
	
//     panel.data().each(function(d){ d.each(function(e) {alert(e.type +"!") })});
//       alert(panel.data);
	 
//     	 dataMap.sortBy(function(d) {return y(d.y)}).each(function(d){ alert(d.x+"/"+d.y +" " + pv.search(dataMap.map(function(e) y(e.y)),y(d.y) ) )});

    vis.render();   

    </script>
  </div>
</div>
