<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>

  <div id="fig" style="width:500px;height:500px">&nbsp;</div>


  <script type="text/javascript+protovis">


    var data = '<%= @associations.to_s%>'.evalJSON();
    var vis = {"type":"geoplot",
    	      	"x":"$.stocks.*.experiments[?(@.type == 'field collection')].geolocation.latitude",
    	      	"y":"$.stocks.*.experiments[?(@.type == 'field collection')].geolocation.longitude",
    		"z":"$.stocks.*.props[?(@.type == 'organism')].value",    
    		"e":"$.stocks.*",
		};

 
    var hashJSP = getDataHash_jsp(data,vis.e,vis.x,vis.y,vis.z);	
    var mapDiv = document.getElementById("fig");
    geoplot(hashJSP, mapDiv);
  
console.log(hashJSP.collect(function(d) {return d.z}));
console.log(Object.toJSON(hashJSP[0]));	
	
  
/*
    var data;
    new Ajax.Request('http://localhost:3000/project/2.json', {
    	method:'get',
  	requestHeaders: {Accept: 'application/json'},
  	onSuccess: function(transport){
    	    data = transport.responseText.evalJSON();
  	    alert(data.experiments.collect(function(d) {return nodeFromArray(d.phenotypes, xselect).cvalue.name}).uniq());
	}
	});

*/


    </script>




