<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>

  <div id="fig" style="width:500px;height:500px">&nbsp;</div>


  <script type="text/javascript+protovis">


/* copied here for fast dev, roll back into core after completion 
   main function needs scales removing - replace with in-class methods to get positions*/

    
    var xstring = "experiments:type==\'field collection\'->geolocation->latitude";
    var ystring = "experiments:type==\'field collection\'->geolocation->longitude";
    var zstring = "props:type_id==416642->value";


    
 

    var data = '<%= @associations.to_s%>'.evalJSON();
    
    var posHash = getDataHash_map(xstring,ystring,zstring);
    var mapDiv = document.getElementById("fig");
    geoplot(posHash, mapDiv);

    
/*
    var data;
    new Ajax.Request('http://localhost:3000/project/2.json', {
    	method:'get',
  	requestHeaders: {Accept: 'application/json'},
  	onSuccess: function(transport){
    	    data = transport.responseText.evalJSON();
  	    alert(data.experiments.collect(function(d) {return nodeFromArray(d.phenotypes, xselect).cvalue.name}).uniq());
	}
	});

*/


    </script>




