<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>

<div id="center">
  <div id="fig" style="width:800px;height:400px" >


  <script type="text/javascript+protovis">
    
   var data = '<%= @associations.to_s%>'.evalJSON(); 
   var vis = {"type": "scatter",
              "x": "$.stocks.*.experiments[?(@.type == 'genotype assay')].genotypes[?(@.props[0].value == '2R')].description",
              "y": "$.stocks.*.experiments[?(@.type == 'field collection')].geolocation.longitude",
              "z": "$.stocks.*.experiments[?(@.type == 'genotype assay')].genotypes[?(@.props[0].value == '2R')].description",
              "e": "$.stocks.*",
              "args": {"yscale":"linear"}}
   var hashJSP = getDataHash_jsp(data,vis.e,vis.x,vis.y,vis.z);
   var figDiv = document.getElementById("fig");
   groupedBarChart(hashJSP,figDiv,vis.args);



    
/*
    var data;
    new Ajax.Request('http://localhost:3000/project/2.json', {
    	method:'get',
  	requestHeaders: {Accept: 'application/json'},
  	onSuccess: function(transport){
    	    data = transport.responseText.evalJSON();
  	    alert(data.experiments.collect(function(d) {return nodeFromArray(d.phenotypes, xselect).cvalue.name}).uniq());
	}
	});

*/
	console.log(hashJSP.collect(function(d) {return d.y}));

    </script>
  </div>
</div>
