<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>

  <div id="fig" style="width:500px;height:500px">&nbsp;</div>


  <script type="text/javascript+protovis">


/* copied here for fast dev, roll back into core after completion 
   main function needs scales removing - replace with in-class methods to get positions*/

    
    var xstring = "experiments:type==\'field collection\'->geolocation->latitude";
    var ystring = "experiments:type==\'field collection\'->geolocation->longitude";
    var zstring = "props:type==\'organism\'->value";


/*    var zstring = "experiments:type==\'genotype
    assay\'->genotypes:description==\'AG3H577\'->props:type==\'length\'->value"; */
/* var zstring = "experiments:type==\'genotype
    assay\'->genotypes[0]->props:type==\'length\'->value";  */

    
 

    var data = '<%= @associations.to_s%>'.evalJSON();
    

    var dataHash = getDataHash_map(data,xstring,ystring,zstring);
/*    var mapDiv = document.getElementById("fig");
    geoplot(dataHash, mapDiv);
*/

/* JSONPATH EXPERIMENTALS BELOW */



    var xstring = "$.stocks.*.experiments[?(@.type == 'field collection')].geolocation.latitude";
    var ystring = "$.stocks.*.experiments[?(@.type == 'field collection')].geolocation.longitude";
    var zstring = "$.stocks.*.props[?(@.type == 'organism')].value";    
    var estring = "$.stocks.*";


/*
    var xstring = "$.stocks.*.experiments.*.geolocation.latitude";
    var ystring = "$.stocks.*.experiments.*.geolocation.longitude";
    var zstring = "$.stocks.*.props[?(@.type == 'organism')].value";    
    var estring = "$.stocks.*.experiments.*";
*/

    var hashJSP = getDataHash_jsp(data,estring,xstring,ystring,zstring);

    var mapDiv = document.getElementById("fig");
    geoplot(hashJSP, mapDiv);
  
	console.log(Object.toJSON(dataHash[0]));
	console.log(Object.toJSON(hashJSP[0]));
	
  
/*
    var data;
    new Ajax.Request('http://localhost:3000/project/2.json', {
    	method:'get',
  	requestHeaders: {Accept: 'application/json'},
  	onSuccess: function(transport){
    	    data = transport.responseText.evalJSON();
  	    alert(data.experiments.collect(function(d) {return nodeFromArray(d.phenotypes, xselect).cvalue.name}).uniq());
	}
	});

*/


    </script>




