<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>

<div id="center">

  <div id="fig">


  <script type="text/javascript+protovis">
    var data = <%= @associations.to_s%>;

    var vis = xyPlot(data, "phenotype", "value >= 0", "phenotype", "cvalue is undefined");
//    var vis = xyPlot();
    vis.render();   

    </script>
  </div>
</div>
