<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>

<div id="center">
  <div id="fig">


  <script type="text/javascript+protovis">
    

/*    var xselect = 'cvalue != undefined';
    var xval = 'cvalue.name';
    var yselect = 'value >= 0';
    var yval = 'value';
*/
    var xstring = "phenotypes:cvalue!=undefined->cvalue.name";
//    var xstring = "phenotypes:value>=0->value";
//    var ystring = "phenotypes:cvalue!=undefined->cvalue.name";
    var ystring = "phenotypes:value>=0->value";
    var w = 500;
    var h = 400;

      var data = '<%= @associations.to_s%>'.evalJSON();
	    dotplot(data, w, h, xstring, ystring, xstring).render();
    
/*
    var data;
    new Ajax.Request('http://localhost:3000/project/2.json', {
    	method:'get',
  	requestHeaders: {Accept: 'application/json'},
  	onSuccess: function(transport){
    	    data = transport.responseText.evalJSON();
  	    alert(data.experiments.collect(function(d) {return nodeFromArray(d.phenotypes, xselect).cvalue.name}).uniq());
	}
	});

*/


    </script>
  </div>
</div>
